/* ---------------------- Global Styles ----------------------- */
/*@font-face {
  font-family: myHeader;
  src: url("../fonts/Amorino_beta.ttf");
}*/

html, body {
  margin: 0;
  background-color: #FFBC5C;
}

.row {
  margin-top: 80px;
}

/* ------------------- App Component Styles ------------------- */

.app-header {
  z-index: 5;
  height: 70px;
  border: 1px solid #CCC;
  width: 100%;
  margin: 0px 0px 25px 0px;
  background-color: #FFFFFF;
  position: fixed;
}

.header-content {
  margin: 5px;
}

#app-title {
  font-family: sans-serif;
  color: #FF6A5C;
  padding-left: 15px;
  line-height: 65%;
  float: left;
}

#img-header {
  width: 60px;
  height: auto;
  float: left;
}

.footer {
  background-color: #FFFFFF;
  border-top-style: solid;
  border-color: #CCCCCC;
  border-top-width: thin;
  position: fixed;
  width: 100%;
  height: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  }

.footer p {
  text-align: center;
  font-size: 0.90em;
  color: #FF6A5C;
  margin: 6px;
}


/* ---------------------- New Food Styles --------------------- */

.food-title-container {
  height: 50px;
  margin-bottom: 15px;
  background-color: #FF6A5C;
}

.food-title-container h3 {
  line-height: 50px;
  color: #FFFFFF;
  padding-left: 15px;
}

.new-food {
  padding-top: 5px;
  padding-bottom: 20px;
  border-color: #FFE4BD;
  background-color: #FFFFFF;
}

.btn-default.add {
  background-color: #FF6A5C;
  color: #FFFFFF;
  width: 150px;
}

.btn-default.add:hover {
  background-color: #E55F52;
  color: #FFFFFF;
  width: 150px;
}

/* ---------------------- Food List Styles --------------------- */

.list-title-container {
  height: 50px;
  margin-bottom: 15px;
  background-color: #FF6A5C;
}

.list-title-container h3 {
  line-height: 50px;
  color: #FFFFFF;
  padding-left: 15px;
}

.food-list {
  padding-top: 5px;
  padding-bottom: 20px;
}

/* ------------------------ Form Styles ----------------------- */

.form-group {
  margin-bottom: 10px;
}

.food-form-label {
  font-size: 16px;
  font-weight: bolder;
  color: #414141;
}

.modal-content {
  padding: 20px;
}

.list-group-item {
  color: white;
  background-color: #FF6A5C;
}

.edit-button {
  margin-left: 10px;
}

.btn:focus {
  outline: none;
}
