.food-form-label {
  font-size: 16px;
  font-weight: bolder;
  color: darkblue;
}

.label-hint {
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  color: gray;
}

.modal-content {
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.list-group-item {
  color: white;
  background-color: darkblue;
}

#edit-button {
  margin-left: 10px;
  background-color: lightblue;
}

@font-face {
  font-family: myHeader;
  src: url("../fonts/Amorino_beta.ttf");
}

#app-title {
  font-family: myHeader, sans-serif;
}
