

.col-xs-6 {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.food-form-label {
  font-size: 16px;
  font-weight: bolder;
  color: darkblue;
}

.label-hint {
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  color: gray;
}

.modal-content {
  padding: 20px;
}
